* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#bubble {
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

#bubble:hover {
  transform: scale(2);
}

#startBtn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

#startBtn:hover {
  background-position: right center; /* change the direction of the change here */
}

#message {
  background: #a6c1ee;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

#customized_timer {
  border: 2px groove #fbc2eb;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

#miscklick_div {
  background: #fbc2eb;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

#score {
  margin: 10px;
}

#countdown_div {
  margin: 10px;
}
#timer_div {
  background: #a6c1ee;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
